.button {
  padding: 0;
  cursor: pointer;
}
.button_type_header {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #2A3950;
  border-radius: 8px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  width: 158px;
  min-height: 50px;
}
.button_type_lead {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #2A3950;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  width: 230px;
  min-height: 64px;
  margin-bottom: 160px;
}
@media screen and (max-width: 1700px) {
  .button_type_lead {
    margin-bottom: 50px;
  }
}
.button_type_form {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 220px;
  height: 68px;
}
@media screen and (max-width: 1150px) {
  .button_type_form {
    margin-top: 20px;
  }
}
.button_type_intro {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 215px;
  min-height: 68px;
  border: 2px solid #FFFFFF;
}
.button_type_card-booking {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  width: 89px;
  min-height: 30px;
  border: 1px solid #006270;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.button_type_card-booking-green {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 89px;
  min-height: 30px;
}
.button_type_card-destinations {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 220px;
  min-height: 60px;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 3px 5px 10px rgba(0, 224, 199, 0.25);
          box-shadow: 3px 5px 10px rgba(0, 224, 199, 0.25);
}
.button_type_tour-packages {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 250px;
  min-height: 65px;
}
.button_type_card-tour {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 170px;
  min-height: 50px;
}
.button_type_to-share {
  padding: 0;
  border: 0;
  background: rgba(0, 224, 199, 0.2);
  border-radius: 50%;
  width: 61px;
  min-height: 61px;
  background-image: url(../image/icon-to-share.svg);
  background-size: 31px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 26px;
}
.button_type_nav {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: #264257;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 20px;
}
.button_type_nav-left {
  background-image: url(../image/back-next.svg);
}
.button_type_nav-right {
  background-image: url(../image/back-next.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.button_type_nav-active {
  background-color: #00E0C7;
  background-image: url(../image/back-active.svg);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.button_type_popular-destinations {
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  -webkit-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
  border: 0;
}
.button_type_arrow-right {
  background-image: url(../image/Arrow-right.svg);
  right: -50px;
}
.button_type_arrow-left {
  background-image: url(../image/Arrow-left.svg);
  left: -50px;
}
.button_type_form-newsletter {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  border-radius: 0;
  width: 300px;
  min-height: 76px;
  border: 0;
}