@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
.root {
  max-width: 1920px;
  width: 100%;
  color: #ffffff;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: auto;
}

.page {
  margin: auto;
}

.header {
  -webkit-box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 7.8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 55;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon {
  width: 35px;
  height: 35px;
  margin: 10px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__title {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  color: #2A3950;
  margin: 0;
}
.header__subtitle {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  color: #2A3950;
}

.logo {
  width: 202px;
  height: 72px;
}
.logo_type_footer {
  width: 291px;
  height: 104px;
}

.button {
  padding: 0;
  cursor: pointer;
}
.button_type_header {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #2A3950;
  border-radius: 8px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  width: 158px;
  min-height: 50px;
}
.button_type_lead {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #2A3950;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  width: 230px;
  min-height: 64px;
  margin-bottom: 160px;
}
.button_type_form {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 220px;
  height: 68px;
}
.button_type_intro {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 215px;
  min-height: 68px;
  border: 2px solid #FFFFFF;
}
.button_type_card-booking {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  width: 89px;
  min-height: 30px;
  border: 1px solid #006270;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.button_type_card-booking-green {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 89px;
  min-height: 30px;
}
.button_type_card-destinations {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 220px;
  min-height: 60px;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 3px 5px 10px rgba(0, 224, 199, 0.25);
          box-shadow: 3px 5px 10px rgba(0, 224, 199, 0.25);
}
.button_type_tour-packages {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 250px;
  min-height: 65px;
}
.button_type_card-tour {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 170px;
  min-height: 50px;
}
.button_type_to-share {
  padding: 0;
  border: 0;
  background: rgba(0, 224, 199, 0.2);
  border-radius: 50%;
  width: 61px;
  min-height: 61px;
  background-image: url(../image/icon-to-share.svg);
  background-size: 31px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 26px;
}
.button_type_nav {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: #264257;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 20px;
}
.button_type_nav-left {
  background-image: url(../image/back-next.svg);
}
.button_type_nav-right {
  background-image: url(../image/back-next.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.button_type_nav-active {
  background-color: #00E0C7;
  background-image: url(../image/back-active.svg);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.button_type_popular-destinations {
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  -webkit-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
  border: 0;
}
.button_type_arrow-right {
  background-image: url(../image/Arrow-right.svg);
  right: -50px;
}
.button_type_arrow-left {
  background-image: url(../image/Arrow-left.svg);
  left: -50px;
}
.button_type_form-newsletter {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  border-radius: 0;
  width: 300px;
  min-height: 76px;
  border: 0;
}

.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../image/bg-lead.jpg);
  background-size: 100%;
  background-color: #2a3950;
  background-repeat: no-repeat;
  margin-top: -100px;
  padding: 262px 7.8% 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  max-width: 100%;
  height: 100%;
}
.lead__container {
  max-width: 690px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 50;
}
.lead__title {
  font-family: "DM Serif Display";
  font-size: 84px;
  font-weight: 400;
  line-height: 1.12;
  margin: 0;
  color: #006270;
  text-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.lead__subtitle {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  color: #006270;
  margin-bottom: 60px;
}

.tab {
  position: relative;
  z-index: 42;
  width: 100%;
}
.tab__button {
  height: 85px;
  width: 270px;
  border-radius: 20px 20px 0px 0px;
  background-color: #F3F6F6;
  position: relative;
  top: 10px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}
.tab__button::before {
  height: 85px;
  width: 135px;
  border-radius: 10px 10px 0px 0px;
  background-color: #F3F6F6;
  content: "";
  position: absolute;
  left: 164px;
  top: 0px;
  -webkit-transform: skewX(35deg);
  transform: skewX(40deg);
  z-index: -1;
}
.tab__title {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
  color: #2A3950;
}
.tab__container {
  padding: 40px 30px 25px;
  background-color: #F3F6F6;
  border-radius: 0 20px 20px 20px;
}

.form {
  /*display: flex;
  justify-content: space-between;
  align-items: flex-end;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 290px) 35px minmax(200px, 290px) 35px minmax(200px, 290px) 35px minmax(200px, 290px) 35px 220px;
  grid-template-columns: repeat(4, minmax(200px, 290px)) 220px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  border: 0;
  margin: 0;
  padding: 0 0 15px;
  width: 100%;
}
.form__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__label {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  color: #006270;
}
.form__input {
  /*max-width: 290px;
  width: 100%;*/
  height: 68px;
  border: 1px solid #2A3950;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__input::-webkit-input-placeholder {
  color: #2A3950;
  padding: 20px;
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.form__input::-moz-placeholder {
  color: #2A3950;
  padding: 20px;
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.form__input:-ms-input-placeholder {
  color: #2A3950;
  padding: 20px;
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.form__input::-ms-input-placeholder {
  color: #2A3950;
  padding: 20px;
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.form__input::placeholder {
  color: #2A3950;
  padding: 20px;
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.form__label-checkbox {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  color: #006270;
  margin: 0 10px 0;
}

/*.popup__input::placeholder {
    color: #000000;
  }*/
@-webkit-keyframes car-intro {
  0% {
    left: 751px;
    top: 180px;
  }
  100% {
    left: 143px;
    top: 180px;
  }
}
@keyframes car-intro {
  0% {
    left: 751px;
    top: 180px;
  }
  100% {
    left: 143px;
    top: 180px;
  }
}
@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ball {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    top: 240px;
  }
  30% {
    opacity: 1;
    top: 340px;
  }
  40% {
    opacity: 1;
    top: 260px;
  }
  50% {
    opacity: 1;
    top: 340px;
  }
  60% {
    opacity: 1;
    top: 280px;
  }
  70% {
    opacity: 1;
    top: 340px;
  }
  80% {
    opacity: 1;
    top: 300px;
  }
  100% {
    opacity: 1;
    top: 340px;
  }
}
@keyframes ball {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    top: 240px;
  }
  30% {
    opacity: 1;
    top: 340px;
  }
  40% {
    opacity: 1;
    top: 260px;
  }
  50% {
    opacity: 1;
    top: 340px;
  }
  60% {
    opacity: 1;
    top: 280px;
  }
  70% {
    opacity: 1;
    top: 340px;
  }
  80% {
    opacity: 1;
    top: 300px;
  }
  100% {
    opacity: 1;
    top: 340px;
  }
}
.intro {
  background-color: #2a3950;
  background-image: url(../image/BG-intro.png);
  padding: 127px 9.79% 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 751px 80px minmax(280px, 692px);
  grid-template-columns: 751px minmax(280px, 692px);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.intro__container-picture {
  max-width: 751px;
  height: 440px;
  background-image: url(../image/Group-back.png);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.intro__picture {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.intro__picture-background-1 {
  background-image: url(../image/Vector-back1.png);
  max-height: 28px;
  bottom: 0;
  right: 0;
}
.intro__picture-background-2 {
  background-image: url(../image/Vector-back2.png);
  max-height: 8px;
  bottom: 36px;
  right: 0;
}
.intro__picture-car {
  background-image: url(../image/Group-car.png);
  top: 180px;
  width: 332px;
  height: 185px;
  -webkit-animation-name: car-intro;
          animation-name: car-intro;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__picture-tent {
  background-image: url(../image/Group-tent.png);
  top: 228px;
  left: 395px;
  width: 321px;
  height: 154px;
  opacity: 0;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__picture-suitcase {
  background-image: url(../image/Group-suitcase.png);
  top: 300px;
  left: 296px;
  width: 96px;
  height: 86px;
  opacity: 0;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__picture-drying {
  background-image: url(../image/Group-drying.png);
  top: 245px;
  left: 60px;
  width: 618px;
  height: 124px;
  opacity: 0;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__picture-board {
  background-image: url(../image/Group-board.png);
  top: 215px;
  left: 238px;
  width: 43px;
  height: 157px;
  opacity: 0;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__picture-ball {
  background-image: url(../image/ball.png);
  top: 340px;
  left: 430px;
  width: 66px;
  height: 51px;
  opacity: 0;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.intro__picture-like {
  background-image: url(../image/Group-like.png);
  top: 180px;
  left: 470px;
  width: 67px;
  height: 62px;
  opacity: 0;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.intro__info {
  font-family: "Denk One";
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 0;
}

.title {
  font-family: "DM Serif Display";
  font-size: 62px;
  font-weight: 400;
  line-height: 112%;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 15px 0 50px;
}

.booking {
  background-color: #264257;
  padding: 100px 7.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  -o-object-fit: fill;
     object-fit: fill;
  background-image: url(../image/map.png);
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: 100%;
}
.booking__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-min-content, -webkit-max-content) 200px minmax(-webkit-min-content, -webkit-max-content) 200px minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-columns: minmax(min-content, max-content) 200px minmax(min-content, max-content) 200px minmax(min-content, max-content);
  grid-template-columns: repeat(3, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}
.booking__container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 750px;
}

.card-booking {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 350px;
  height: 358px;
  min-height: 328px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-booking__picture {
  width: 310px;
  height: 180px;
  -webkit-box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  margin: 0 auto;
}
.card-booking__title {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: #2A3950;
  margin-top: 10px;
}
.card-booking__subtitle {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  color: #006270;
  margin: 5px 0 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-booking_rotate_left {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  margin-top: 50px;
}
.card-booking_rotate_right {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.card-booking_rotate_center {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container-info {
  max-width: 856px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.destinations {
  background-color: #2a3950;
  background-image: url(../image/bg-destination.svg);
  background-size: 100%;
  padding: 100px 0 100px 7.8%;
  margin: auto;
  overflow: hidden;
}
.destinations__container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 400px) {
  .destinations {
    padding-right: 7.8%;
  }
}

.card-destinations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 484px 50px 340px;
  grid-template-columns: 484px 340px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 24px 100px rgba(36, 55, 91, 0.15);
          box-shadow: 0px 24px 100px rgba(36, 55, 91, 0.15);
  border-radius: 50px;
  padding: 30px 30px 30px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5%;
      grid-template-areas: "title image" "text image" "info image" "buttons image";
  list-style: none;
}
.card-destinations__container-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 21px 1fr;
  grid-template-columns: 40px 1fr;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
}
.card-destinations__title {
  font-family: "Segoe UI";
  font-size: 40px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
  color: #222222;
}
.card-destinations__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 600;
  line-height: 167%;
  margin: 0;
  color: #636668;
  grid-area: text;
}
.card-destinations__info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: info;
}
.card-destinations__author {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: #636668;
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
}
.card-destinations__comment {
  background-image: url(../image/icon-comment.svg);
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  height: 28px;
  width: 28px;
  background-color: white;
}
.card-destinations__count-comment {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  color: #222222;
}
.card-destinations__like {
  background-image: url();
}
.card-destinations__count-like {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  color: #222222;
}
.card-destinations__buttons {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: buttons;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card-destinations__picture {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  border-radius: 40px;
  width: 100%;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: image;
}
@media screen and (max-width: 1150px) {
  .card-destinations__picture {
    height: 250px;
  }
}
@media screen and (max-width: 1150px) {
  .card-destinations {
    -ms-grid-columns: minmax(280px, -webkit-max-content);
    -ms-grid-columns: minmax(280px, max-content);
    grid-template-columns: minmax(280px, -webkit-max-content);
    grid-template-columns: minmax(280px, max-content);
        grid-template-areas: "title" "image" "text" "info" "buttons";
    padding-left: 30px;
  }
  .card-destinations__container-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .card-destinations__text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .card-destinations__info {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .card-destinations__buttons {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .card-destinations__picture {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
}
.icon-place {
  background-image: url(../image/icon-t.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-place_type_destinations {
  background-size: 27px 39px;
  height: 39px;
  width: 39px;
  margin-top: 15px;
}
.icon-place_type_card-tour {
  background-size: 13px 18px;
  height: 18px;
  width: 13px;
}
.icon-place_type_card-popular-destinations {
  background-size: 13px 18px;
  height: 18px;
  width: 13px;
}

.tour-packages {
  background-color: #264257;
  background-image: url();
  padding: 100px 0 100px 7.8%;
  overflow: hidden;
  background-image: url(../image/bg-packeges.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-packages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1620px;
  width: 100%;
  padding: 50px 0;
}
.tour-packages__nav-container {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tour-packages__card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px;
  grid-template-columns: repeat(10, 450px);
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  margin: 0;
  padding: 0;
}

.card-tour {
  max-width: 450px;
  width: 100%;
  list-style: none;
}
.card-tour__item {
  width: 450px;
  height: 405px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #FFFFFF;
}
.card-tour__place {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-tour__title {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 700;
  line-height: 125%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 340px;
}
.card-tour__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-tour__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-tour__icon {
  background-image: url(../image/day-night.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.card-tour__text {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  margin-left: 13px;
}

.star {
  background: rgba(42, 57, 80, 0.3);
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  min-width: 82px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.star__icon {
  background-image: url(../image/Star.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.star__estimation {
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  text-align: center;
  margin: 0;
}

.cost {
  background: rgba(42, 57, 80, 0.3);
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  text-align: center;
  min-width: 120px;
  height: 50px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-destinations {
  background-color: #2A3950;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../image/popular-desc-bg.png);
}
.popular-destinations__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
.popular-destinations__card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 480px 40px 480px 40px 480px;
  grid-template-columns: repeat(3, 480px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin: 0;
  padding: 0;
  max-width: 1520px;
  width: 100%;
}

.card-popular-destinations {
  width: 480px;
  min-height: 478px;
  list-style: none;
  background-color: #fff;
}
.card-popular-destinations__item {
  width: 480px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card-popular-destinations__place {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-popular-destinations__container-way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}
.card-popular-destinations__icon-plane {
  background-image: url(../image/plane.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}
.card-popular-destinations__icon-arrow {
  background-image: url(../image/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}
.card-popular-destinations__title {
  font-family: "Segoe UI";
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: #2A3950;
  margin: 0 20px;
}
.card-popular-destinations__container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 20px;
}
.card-popular-destinations__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-popular-destinations__text {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: #2A3950;
  margin-left: 15px;
}
.card-popular-destinations__icon {
  background-image: url(../image/calendar.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

@-webkit-keyframes car-newsletter {
  0% {
    left: 1620px;
  }
  100% {
    left: 0;
  }
}

@keyframes car-newsletter {
  0% {
    left: 1620px;
  }
  100% {
    left: 0;
  }
}
.newsletter {
  background-color: #2A3950;
  padding: 100px 7.8%;
}
.newsletter__car {
  width: 294px;
  height: 174px;
  -webkit-animation-name: car-newsletter;
          animation-name: car-newsletter;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.newsletter__form {
  background-color: #006270;
  max-width: 1620px;
  width: 100%;
  min-height: 434px;
  border-radius: 50px;
  padding: 4.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-newsletter {
  background-color: #fff;
  max-width: 1480px;
  width: 100%;
  min-height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-newsletter__input {
  padding: 0;
  border: 0;
  outline: none;
  height: 75px;
  -ms-flex-preferred-size: 1250px;
      flex-basis: 1250px;
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
}
.form-newsletter__input::-webkit-input-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input::-moz-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input:-ms-input-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input::-ms-input-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input::placeholder {
  font-size: 30px;
  line-height: 35px;
}

.information {
  background-color: #2A3950;
  padding: 50px 7.8% 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 353px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.information__text {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
  margin: 0;
  max-width: 385px;
  width: 100%;
  margin-top: 35px;
}
.information__title {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: underline;
}
.information__list {
  padding: 0;
  margin: 25px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 174px;
}
.information__info {
  list-style: none;
}
.information__link {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.footer {
  background-color: #2A3950;
  padding: 21px 7.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  color: #00E0C7;
}

.social-icon {
  max-width: 315px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}
.social-icon__point {
  list-style: none;
}
.social-icon__link {
  text-decoration: none;
}
.social-icon__icon {
  width: 35px;
  height: 35px;
}

@keyframes car-intro {
  0% {
    left: 751px;
    top: 180px;
  }
  100% {
    left: 143px;
    top: 180px;
  }
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ball {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    top: 240px;
  }
  30% {
    opacity: 1;
    top: 340px;
  }
  40% {
    opacity: 1;
    top: 260px;
  }
  50% {
    opacity: 1;
    top: 340px;
  }
  60% {
    opacity: 1;
    top: 280px;
  }
  70% {
    opacity: 1;
    top: 340px;
  }
  80% {
    opacity: 1;
    top: 300px;
  }
  100% {
    opacity: 1;
    top: 340px;
  }
}