.booking {
  background-color: #264257;
  padding: 100px 7.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  -o-object-fit: fill;
     object-fit: fill;
  background-image: url(../image/map.png);
  background-repeat: no-repeat;
  background-position: center 80%;
}
.booking__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-min-content, -webkit-max-content) 200px minmax(-webkit-min-content, -webkit-max-content) 200px minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-columns: minmax(min-content, max-content) 200px minmax(min-content, max-content) 200px minmax(min-content, max-content);
  grid-template-columns: repeat(3, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}
.booking__container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 750px;
}