.button {
  padding: 0;
}
.button_type_header {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #2A3950;
  border-radius: 8px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  width: 158px;
  height: 50px;
}
.button_type_lead {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #2A3950;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  width: 230px;
  height: 64px;
  margin-bottom: 160px;
}
.button_type_form {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 220px;
  height: 68px;
}
.button_type_intro {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  color: #2A3950;
  background-color: #00E0C7;
  border-radius: 10px;
  border: none;
  width: 215px;
  height: 68px;
}