.card-booking {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 350px;
  height: 358px;
  min-height: 328px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-booking__picture {
  width: 310px;
  height: 180px;
  -webkit-box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  margin: 0 auto;
}
.card-booking__title {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: #2A3950;
  margin-top: 10px;
}
.card-booking__subtitle {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  color: #006270;
  margin: 5px 0 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-booking_rotate_left {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  margin-top: 50px;
}
.card-booking_rotate_right {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.card-booking_rotate_center {
  margin-top: 326px;
}