.card-popular-destinations {
  width: 480px;
  min-height: 478px;
  list-style: none;
  background-color: #fff;
}
.card-popular-destinations__item {
  width: 480px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card-popular-destinations__place {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-popular-destinations__container-way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}
.card-popular-destinations__icon-plane {
  background-image: url(../image/plane.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}
.card-popular-destinations__icon-arrow {
  background-image: url(../image/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}
.card-popular-destinations__title {
  font-family: "Segoe UI";
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: #2A3950;
  margin: 0 20px;
}
.card-popular-destinations__container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 20px;
}
.card-popular-destinations__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-popular-destinations__text {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: #2A3950;
  margin-left: 15px;
}
.card-popular-destinations__icon {
  background-image: url(../image/calendar.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}