@import "./mixin.scss";

.card-destinations {
    &__container-text {
        display: flex;
        flex-direction: column;
    }
    &__container-title {

    }
    &__icon {

    }
    &__title {
       @include font-segoe-semibold(40px, 150%);
       color: #222222;
    }
    &__text {
        @include font-segoe-semibold(18px, 167%);
        color: #636668;
    }
    &__info {

    }
    &__author {
        @include font-segoe-semibold(24px, 125%);
        color: #636668;
    }
    &__container-comment {

    }
    &__comment {

    }
    &__count-comment {

    }
    &__container-like {

    }
    &__like {

    }
    &__count-like {

    }
    &__buttons {

    }
    &__buttons-to-share{

    }
    &__picture {
        border-radius: 40px;
        margin-left: 50px;
    }
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 100px rgba(36, 55, 91, 0.15);
    border-radius: 50px; 
    padding: 30px 30px 30px 50px;
}