.destinations {
  background-color: #2a3950;
  padding: 100px 0 100px 7.8%;
  margin: auto;
  overflow: hidden;
}
.destinations__container-cards {
  /*display: grid;
  grid-template-columns: repeat(5, max-content);        
  column-gap: 100px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 400px) {
  .destinations {
    padding-right: 7.8%;
  }
}