.destinations {
  background-color: #2a3950;
  background-image: url(../image/bg-destination.svg);
  background-size: 100%;
  padding: 100px 0 100px 7.8%;
  margin: auto;
  overflow: hidden;
}
.destinations__container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 400px) {
  .destinations {
    padding-right: 7.8%;
  }
}