.footer {
  background-color: #2A3950;
  padding: 21px 7.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  color: #00E0C7;
}