.form-newsletter {
  background-color: #fff;
  max-width: 1480px;
  width: 100%;
  min-height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-newsletter__input {
  padding: 0;
  border: 0;
  outline: none;
  height: 75px;
  -ms-flex-preferred-size: 1250px;
      flex-basis: 1250px;
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
}
.form-newsletter__input::-webkit-input-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input::-moz-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input:-ms-input-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input::-ms-input-placeholder {
  font-size: 30px;
  line-height: 35px;
}
.form-newsletter__input::placeholder {
  font-size: 30px;
  line-height: 35px;
}