.header {
  margin-bottom: -100px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 7.8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon {
  width: 35px;
  height: 35px;
  margin: 10px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__title {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #2A3950;
  margin: 0;
}
.header__subtitle {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #2A3950;
}

/*.cover__background {
    background: url(../../../image/cover-trains.jpg);
    max-width: 100%;
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .cover__background::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opasity 2s linear;
  }*/
/*&::after {
    content: '';
    top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(255, 255, 255, 0.5);
}*/