@import "./mixin.scss";

.icon-place {
    &_type_destinations {
        background-size: 27px 39px;
       
        //margin: 15px 21px 0 0;   
        height: 39px;
        width: 39px;
        margin-top: 15px   
    }
    background-image: url(../image/icon-t.svg);
    background-repeat: no-repeat;
    background-position: center;
}