@import "./mixin.scss";

.icon-place {
    &_type_destinations {
        background-size: 27px 39px; 
        height: 39px;
        width: 39px;
        margin-top: 15px   
    }

    &_type_card-tour {
        background-size: 13px 18px;
        height: 18px;
        width: 13px;
    }

    &_type_card-popular-destinations {
        background-size: 13px 18px;
        height: 18px;
        width: 13px;
    }

    background-image: url(../image/icon-t.svg);
    background-repeat: no-repeat;
    background-position: center;    
}