.information {
  background-color: #2A3950;
  padding: 50px 7.8% 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 353px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.information__text {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
  margin: 0;
  max-width: 385px;
  width: 100%;
  margin-top: 35px;
}
.information__title {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: underline;
}
.information__list {
  padding: 0;
  margin: 25px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 174px;
}
.information__info {
  list-style: none;
}
.information__link {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}