@import "./mixin.scss";
@import "./keyframes.scss";


.intro {
    &__container-picture {
        max-width: 751px;
        height: 440px;
        background-image: url(../image/Group-back.png);
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }

    &__picture {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        position: absolute;
    }

    &__picture-background-1 {
        background-image: url(../image/Vector-back1.png);
        max-height: 28px;
        bottom: 0;
        right: 0;
    }

    &__picture-background-2 {
        background-image: url(../image/Vector-back2.png);
        max-height: 8px;
        bottom: 36px;
        right: 0;
    }

    &__picture-car {
        background-image: url(../image/Group-car.png);
        top: 180px;
        //left: 143px;
        width: 332px;
        height: 185px;
        animation-name: car-intro;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    &__picture-tent {
        background-image: url(../image/Group-tent.png);
        top: 228px;
        left: 395px;
        width: 321px;
        height: 154px;
        opacity: 0;
        animation-name: intro;
        animation-delay: 2s;
        animation-duration: .2s;
        animation-fill-mode: forwards;

    }

    &__picture-suitcase {
        background-image: url(../image/Group-suitcase.png);
        top: 300px;
        left: 296px;
        width: 96px;
        height: 86px;
        opacity: 0;
        animation-name: intro;
        animation-delay: 2.2s;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }

    &__picture-drying {
        background-image: url(../image/Group-drying.png);
        top: 245px;
        left: 60px;
        width: 618px;
        height: 124px;
        opacity: 0;
        animation-name: intro;
        animation-delay: 2.8s;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }

    &__picture-board {
        background-image: url(../image/Group-board.png);
        top: 215px;
        left: 238px;
        width: 43px;
        height: 157px;
        opacity: 0;
        animation-name: intro;
        animation-delay: 2.4s;
        animation-duration: .2s;
        animation-fill-mode: forwards;

    }

    &__picture-ball {
        background-image: url(../image/ball.png);
        top: 340px;
        left: 430px;
        width: 66px;
        height: 51px;
        opacity: 0;
        animation-name: ball;
        animation-delay: 2.6s;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

    }

    &__picture-like {
        background-image: url(../image/Group-like.png);
        top: 180px;
        left: 470px;
        width: 67px;
        height: 62px;
        opacity: 0;
        animation-name: intro;
        animation-delay: 3s;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }


    &__container-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__info {
        font-family: 'Denk One';
        font-weight: 400;
        font-size: 50px;
        line-height: 62px;
        text-transform: capitalize;
        color: #FFFFFF;
        opacity: 0.7;
        margin: 0;
    }

    background-color: #2a3950;
    background-image: url(../image/BG-intro.png);
    padding: 127px 9.79% 120px;
    display: grid;
    grid-template-columns: 751px minmax(280px, 692px);
    column-gap: 80px;
}