@keyframes car-intro {
    0% {
        left: 751px;
        top: 180px;
    }    
    100% {
        left: 143px;
        top: 180px;
    }
}

@keyframes intro {
    0% {
        opacity: 0;
    }      
    100% {      
        opacity: 1;      
    }
}


@keyframes ball {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1; 
    }
    20% {
        opacity: 1; 
        top: 240px;
    }
    30% {
        opacity: 1; 
        top: 340px;
    }
    40% {
        opacity: 1; 
        top: 260px;
    }
    50% {
        opacity: 1; 
        top: 340px;
    }
    60% {
        opacity: 1; 
        top: 280px;
    }
    70% {
        opacity: 1; 
        top: 340px;
    }
    80% {
        opacity: 1; 
        top: 300px;
    }    
    100% {      
        opacity: 1; 
        top: 340px;     
    }
}
