.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../image/bg-lead.jpg);
  background-size: 100%;
  background-color: #2a3950;
  background-repeat: no-repeat;
  margin-top: -100px;
  padding: 262px 7.8% 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  max-width: 100%;
  height: 100%;
}
.lead__container {
  max-width: 690px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 50;
}
.lead__title {
  font-family: "DM Serif Display";
  font-size: 84px;
  font-weight: 400;
  line-height: 1.12;
  margin: 0;
  color: #006270;
  text-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.lead__subtitle {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  color: #006270;
  margin-bottom: 60px;
}