@import "./mixin.scss";

@keyframes car-newsletter {
    0% {
        left: 1620px;       
    }    
    100% {
        left: 0;        
    }
}

.newsletter {
    &__animation {

    }

    &__car {
        width: 294px;
        height: 174px;
        animation-name: car-newsletter;
        animation-duration: 6s;
        animation-fill-mode: forwards;
    }

    &__form {
        background-color: #006270;
        max-width: 1620px;
        width: 100%;
        min-height: 434px;
        border-radius: 50px;
        padding: 4.33%;
        box-sizing: border-box;
    }
    background-color: #2A3950;
    padding: 100px $base-side-padding;
}