.tour-packages {
  background-color: #264257;
  background-image: url();
  padding: 100px 0 100px 100px;
  overflow: hidden;
}
.tour-packages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1620px;
  width: 100%;
  padding: 50px 0;
}
.tour-packages__nav-container {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tour-packages__card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px 100px 450px;
  grid-template-columns: repeat(10, 450px);
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  margin: 0;
  padding: 0;
}