@import "./mixin.scss";

.tour-packages {
    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1620px;
        width: 100%;
        padding: 50px 0;
    }
    &__nav-container {
        width: 120px;
        display: flex;
        justify-content: space-between;
    }

    &__card-list {
        display: grid;
        grid-template-columns: repeat(10, 450px);
        column-gap: 100px;
        margin: 0;
        padding: 0;
    }

    background-color: #264257;
    //background-image: url();
    padding: 100px 0 100px $base-side-padding;
    overflow: hidden;
    background-image: url(../image/bg-packeges.png);
    background-repeat: no-repeat;
    background-size: cover;    
}